<form [formGroup]="globalForm">
    <div *ngFor="let data of formLabel; let i=index">
      <label class="form-label">{{data.labels | uppercase}}</label>
      <input [type]="data.type" formControlName="texts" class="form-control">
    </div>

    <div *ngFor="let data of selectLables; let i= index">
      <label class="form-label">{{data.lables}}</label>
      <select class="form-select" formControlName="select" aria-label="Default select example">

          <option selected>Open this select menu</option>
          <option *ngFor="let optionData of data.lists" [value]="optionData.value">{{optionData.data}}</option>
      </select>
    </div>
    
    <div *ngFor="let data of radioLables; let i= index;">
      <input class="form-check-input" type="radio" id="lable{{i}}" name="fav_language" [value]="data.value" [checked]="data.checked">
      <label class="form-check-label" for="lable{{i}}">{{data.labels}}</label><br>
    </div>
      

      <label class="form-label">checkbox</label>
      <div *ngFor="let data of checkLables; let i=index" class="form-check">
        <input class="form-check-input" formControlName="checkbox" type="checkbox" [value]="data.value" id="flexCheckDefault" [checked]="data.checked">
        <label class="form-check-label" for="flexCheckDefault">
          {{data.labels}}
        </label>
      </div>

      <div *ngFor="let data of rangeLables; let i= index">
        <label class="form-label">{{data.lables}}</label>
        <input type="range" class="form-range" formControlName="range" [min]="data.minValue" [max]="data.maxValue" step="0.5">
      </div>
      
</form>

<button class="btn btn-success" (click)="submitData()">Submit</button>